<h1>Login de Usuarios</h1>

 <div class="form-container">
    <h2>Registro de usuarios</h2>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>
      <button type="submit" class="btn-submit">Guardar</button>
    </form>
  </div>
